<div class="nav-container">
    <div class="nav-title">
        <div class="nav-logo">
            <img src="">
        </div>
        <div class="nav-name">
            <h1>in light of</h1>
            <h2>Studio</h2>
        </div>
    </div>
    <div class="nav-links">
        <a href="/index.html#about" class="link">
            About
        </a>
        <a href="/index.html#reports" class="link">
            Reports
        </a>
        <a href="/index.html#services" class="link">
            Services
        </a>
        <a href="/index.html#newsletter" class="link">
            Newsletter
        </a>
        <a href="/index.html#contact" class="link">
            Contact
        </a>
    </div>
</div>